In [12]:

import pandas as pd
import pandas as pd
import tldextract
from urllib.parse import urlparse

In [3]:
benign_data = pd.read_csv('benign_domain_list.csv', names=['url'])
mal_data = pd.read_csv('Malicious_URLs.csv')
mixed_data = pd.read_csv('mixed_domain_list.csv', names=['url'])
tranco_rank_data = pd.read_csv("tranco_full_list_for_ranking.csv", names=['url'])

In [19]:
def count_periods(url):
    return url.count('.')
def get_fqdn_length(url):
    extracted = tldextract.extract(url)
    return len(extracted.fqdn)
def count_percent_digits(url):
    num_digits = sum(c.isdigit() for c in url)
    percent = (num_digits / len(url)) * 100
    return '{:.2f}'.format(percent)

In [37]:
benign_data['domain'] = benign_data['url'].apply(lambda x: tldextract.extract(x).domain)
benign_data['tld'] = mal_data['url'].apply(lambda x: tldextract.extract(x).suffix)
benign_data['FQDN length'] = benign_data['url'].apply(get_fqdn_length)
benign_data['FQDN digit percentage'] = benign_data['url'].apply(count_percent_digits)
benign_data['period count'] = benign_data['url'].apply(count_periods)
benign_data['domain_length'] = benign_data['domain'].apply(lambda x: len(x))
bins = [0, 5, 10, 15, float('inf')]
labels = ['1-5', '6-10', '11-15', '16+']
benign_data['domain_length_group'] = pd.cut(benign_data['FQDN length'], bins=bins, labels=labels)
benign_data

,url,domain,tld,FQDN length,FQDN digit percentage,period count,domain_length_group,domain_length
0,google.com,google,com,10,0.00,1,6-10,6
1,facebook.com,facebook,org,12,0.00,1,11-15,8
2,a-msedge.net,a-msedge,com,12,0.00,1,11-15,8
3,youtube.com,youtube,org,11,0.00,1,11-15,7
4,microsoft.com,microsoft,net,13,0.00,1,11-15,9
...,...,...,...,...,...,...,...,...
4958,bethesda.net,bethesda,com,12,0.00,1,11-15,8
4959,shopifysvc.com,shopifysvc,com,14,0.00,1,11-15,10
4960,instana.io,instana,com,10,0.00,1,6-10,7
4961,oanda.com,oanda,com,9,0.00,1,6-10,5
4962,skyscanner.com,skyscanner,com,14,0.00,1,11-15,10

In [36]:

remove = ['http://', 'ftp://','www.', 'https://']
for string in remove:
    mal_data['url'] = mal_data['url'].str.replace(string, '')
mal_data['url'] = mal_data['url'].str.split('/', expand=True).get(0)
mal_data['url'] = mal_data['url'].str.strip()
mal_data['subdomain'] = mal_data['url'].apply(lambda x: tldextract.extract(x).subdomain)
mal_data['domain'] = mal_data['url'].apply(lambda x: tldextract.extract(x).domain)
mal_data['domain_length'] = mal_data['domain'].apply(lambda x: len(x))
mal_data['tld'] = mal_data['url'].apply(lambda x: tldextract.extract(x).suffix)
mal_data['FQDN length'] = mal_data['url'].apply(get_fqdn_length)
mal_data['FQDN digit percentage'] = mal_data['url'].apply(count_percent_digits)
mal_data['period count'] = mal_data['url'].apply(count_periods)
bins = [0, 5, 10, 15, float('inf')]
labels = ['1-5', '6-10', '11-15', '16+']
mal_data['domain_length_group'] = pd.cut(mal_data['domain_length'], bins=bins, labels=labels)
mal_data

C:\Users\Lucas\AppData\Local\Temp\ipykernel_20820\790690446.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  mal_data['url'] = mal_data['url'].str.replace(string, '')

,url,subdomain,domain,tld,FQDN length,FQDN digit percentage,period count,domain_length_group,domain_length
0,ervashipping.com,,ervashipping,com,16,0.00,1,11-15,12
1,gabung-grupmabarcimbrut.duckdns.org,gabung-grupmabarcimbrut,duckdns,org,35,0.00,2,6-10,7
2,republik-jancuk.000webhostapp.com,republik-jancuk,000webhostapp,com,33,9.09,2,11-15,13
3,chet-notnkt8-grup.duckdns.org,chet-notnkt8-grup,duckdns,org,29,3.45,2,6-10,7
4,veromcertiom.ddns.net,veromcertiom,ddns,net,21,0.00,2,1-5,4
...,...,...,...,...,...,...,...,...,...
10624,sites.google.com,sites,google,com,16,0.00,2,6-10,6
10625,habbocreditosparati.blogspot.com,habbocreditosparati,blogspot,com,32,0.00,2,6-10,8
10626,creditiperhabbogratissicuro100.blogspot.com,creditiperhabbogratissicuro100,blogspot,com,43,6.98,2,6-10,8
10627,mundovirtualhabbo.blogspot.com,mundovirtualhabbo,blogspot,com,30,0.00,2,6-10,8
10628,aijcs.blogspot.com,aijcs,blogspot,com,18,0.00,2,6-10,8

In [41]:

mixed_data['subdomain'] = mixed_data['url'].apply(lambda x: tldextract.extract(x).subdomain)
mixed_data['domain'] = mixed_data['url'].apply(lambda x: tldextract.extract(x).domain)
mixed_data['tld'] = mixed_data['url'].apply(lambda x: tldextract.extract(x).suffix)
mixed_data['FQDN length'] = mixed_data['url'].apply(get_fqdn_length)
mixed_data['FQDN digit percentage'] = mixed_data['url'].apply(count_percent_digits)
mixed_data['period count'] = mixed_data['url'].apply(count_periods)
mixed_data['domain_length'] = mixed_data['domain'].apply(lambda x: len(x))
bins = [0, 5, 10, 15, float('inf')]
labels = ['1-5', '6-10', '11-15', '16+']
mixed_data['domain_length_group'] = pd.cut(mixed_data['domain_length'], bins=bins, labels=labels)

mixed_data

,url,subdomain,domain,tld,FQDN length,FQDN digit percentage,period count,domain_length,domain_length_group
0,goodrx.com,,goodrx,com,10,0.00,1,6,6-10
1,weather.com.cn,,weather,com.cn,14,0.00,2,7,6-10
2,draftkings.com,,draftkings,com,14,0.00,1,10,6-10
3,suntimes.com,,suntimes,com,12,0.00,1,8,6-10
4,moe.gov.cn,,moe,gov.cn,10,0.00,2,3,1-5
...,...,...,...,...,...,...,...,...,...
178,services.runescape.com-ul.cc,services.runescape,com-ul,cc,28,0.00,3,6,6-10
179,nsu-amazon.1inc.top,nsu-amazon,1inc,top,19,5.26,2,4,1-5
180,80fxv9.cn,,80fxv9,cn,9,33.33,1,6,6-10
181,nsu-amazon.3inc.top,nsu-amazon,3inc,top,19,5.26,2,4,1-5
182,hmcb-crad.com-men-indxe.iilgbxka.cn,hmcb-crad.com-men-indxe,iilgbxka,cn,35,0.00,3,8,6-10

In [8]:
tranco_rank_data['domain'] = tranco_rank_data['url'].apply(lambda x: tldextract.extract(x).domain)
tranco_rank_data['tld'] = tranco_rank_data['url'].apply(lambda x: tldextract.extract(x).suffix)
tranco_rank_data

                         url           domain  tld
1                 google.com           google  com
2               facebook.com         facebook  com
3               a-msedge.net         a-msedge  net
4                youtube.com          youtube  com
5              microsoft.com        microsoft  com
...                      ...              ...  ...
3648683  jeventanddesign.com  jeventanddesign  com
3648684      medi-verbund.de     medi-verbund   de
3648685    stjudemedical.net    stjudemedical  net
3648686      dsa-vorschau.de     dsa-vorschau   de
3648687        smcdomain.com        smcdomain  com

[3648687 rows x 3 columns]

In [9]:
benign_tld_counts = benign_data.groupby('tld').size().reset_index(name='count')
benign_tld_counts = benign_tld_counts[(benign_tld_counts['tld'].str.strip() != '')]
benign_top_tlds = benign_tld_counts.sort_values('count', ascending=False).head(10)
benign_top_tlds['rank'] = range(1, len(benign_top_tlds) + 1)
benign_top_tlds = benign_top_tlds[['rank', 'tld', 'count']]
benign_top_tlds

     rank  tld  count
47      1  com   1982
163     2   ru    357
144     3  org    204
135     4  net    157
201     5  xyz    105
124     6   me     94
37      7   co     88
25      8   ca     84
121     9   ly     80
185    10  top     79

In [10]:
mal_tld_counts = mal_data.groupby('tld').size().reset_index(name='count')
mal_tld_counts = mal_tld_counts[(mal_tld_counts['tld'].str.strip() != '')]
mal_top_tlds = mal_tld_counts.sort_values('count', ascending=False).head(10)
mal_top_tlds['rank'] = range(1, len(mal_top_tlds) + 1)
mal_top_tlds = mal_top_tlds[['rank', 'tld', 'count']]
mal_top_tlds

     rank     tld  count
59      1     com   5105
223     2      ru    570
187     3     net    362
198     4     org    303
170     5      ly    171
174     6      me    145
63      7  com.br    141
45      8      co    140
151     9      io    113
276    10     xyz    106

In [11]:
mixed_tld_counts = mixed_data.groupby('tld').size().reset_index(name='count')
mixed_tld_counts = mixed_tld_counts[(mixed_tld_counts['tld'].str.strip() != '')]
mixed_top_tlds = mixed_tld_counts.sort_values('count', ascending=False).head(10)
mixed_top_tlds['rank'] = range(1, len(mixed_top_tlds) + 1)
mixed_top_tlds = mixed_top_tlds[['rank', 'tld', 'count']]
mixed_top_tlds

    rank  tld  count
10     1  com     80
30     2  org     20
28     3  net      8
14     4   de      8
6      5   cn      5
19     6  gov      5
39     7   us      4
3      8   ca      3
32     9   pl      3
34    10   ru      3

In [31]:
avg_bd_l = benign_data['FQDN length'].mean()
avg_mal_l = mal_data['FQDN length'].mean()
avg_mix_l = mixed_data['FQDN length'].mean()
print("The average FQDN length is: {:.2f}".format(avg_bd_l))
print("The average FQDN length is: {:.2f}".format(avg_mal_l))
print("The average FQDN length is: {:.2f}".format(avg_mix_l))

The average FQDN length is: 11.54
The average FQDN length is: 21.03
The average FQDN length is: 14.95